# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Backend venv & artifacts
video_factory/.venv
video_factory/assets/cache
video_factory/assets/audio/*.mp3
video_factory/assets/audio/*.wav
video_factory/assets/video/*.mp4
